# ===== Unity tu sinh — KHONG commit =====
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# IDE / project sinh ra
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
.gradle/
ExportedObj/
.consulo/
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
sysinfo.txt
